@model IEnumerable<StrategeRisk.WebApp.Models.CompanyViewModels.CompanyRowViewModel>

<div>
    <div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr>
                        <td>
                            @company.Name
                        </td>
                        <td>
                            @company.City
                        </td>
                        <td>
                            @company.State
                        </td>
                        <td>
                            @company.Phone
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>